<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDACGNfmb12JpjXiv_yVtrFa_S2CwzcNa4</string>
	<key>GCM_SENDER_ID</key>
	<string>568851041587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uitask</string>
	<key>PROJECT_ID</key>
	<string>mausam-d02bd</string>
	<key>STORAGE_BUCKET</key>
	<string>mausam-d02bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:568851041587:ios:d7e19392be2ecf4c030246</string>
</dict>
</plist>